.creation_menue  {
    display: grid; 
    padding: 10px;
    background-color: rgb(205, 205, 205);
    border-radius: 15px;
    max-width: 100%;
    grid-template-columns: 30% 68%;
    margin-top: 10px;
    margin-bottom: 10px;
    column-gap: 2%;
}

.btn .btn-success {
    grid-column: 1;
    margin-left: 5px;
}
input[type="number"] {
    grid-column: 2; 
    margin-right: 5px;
}